<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<header class="header-with-selector">
    <div><h1>User profile</h1></div>        
</header>
<form [formGroup]='form' (submit)='saveUser()' id='user'>
    <form-field class='span-1'>
        <form-field-hint>Foo Bar</form-field-hint>
        <label for='firstName'>First name</label>
        <input type="text" formControlName='firstName' id='firstName'>
    </form-field>
    <form-field class='span-1'>
        <label for='lastName'>Last name</label>
        <input type="text" formControlName='lastName' id='lastName'>
    </form-field>
    <form-field class='span-2'>
        <label for='email'>Email</label>
        <input type="email" formControlName='email' id='email'>
    </form-field>
    <form-field class='span-1'>
        <label for='phone'>Phone</label>
        <input type="tel" formControlName='phone' id='phone' placeholder='Input phone (ex.: +15417543010)'>
    </form-field>
    <form-field class='span-1'>
        <label for='country'>Country/Region</label>
        <select formControlName='country' id='country'>
            <option *ngFor='let country of countries' [value]="country.value">{{country.label}}</option>
        </select>
    </form-field>
    <form-field class='span-2'>
        <label for='company'>Company</label>
        <input type="text" formControlName='company' id='company'>
    </form-field>
</form>
<footer>
    <a class="btn-ignite btn-ignite--link-success" uiSref="default-state">Cancel</a>
    <button type='submit' class="btn-ignite btn-ignite--success" form='user'>
        <ignite-icon name="checkmark" class='icon-left'></ignite-icon>
        Save Changes
    </button>
</footer>